@model DoAnRaoVat.Models.LoginModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ĐĂNG NHẬP</title>
    <!-- bootstrap-CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- bootstrap-select-CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css">
    <!-- style.css -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" /> 
    <!-- fontawesome-CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />    
    <!-- Navigation-CSS -->
    <link rel="stylesheet" href="~/Content/css/menu_sideslide.css" type="text/css" media="all">
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>

    <!-- language-select -->
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>

</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <section>
            <div id="agileits-sign-in-page" class="sign-in-wrapper">

                <div class="agileinfo_signin">
                    <h3>ĐĂNG NHẬP</h3>
                    <form>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Tên tài khoản" })


                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @Html.PasswordFor(model => model.Password, new { @placeholder = "Mật khẩu" })

                        <div class="forgot-grid">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.RemmemberMe) Remember me
                                @*@Html.ValidationMessageFor(model => model.RemmemberMe, "", new { @class = "text-danger" })*@
                            </label>

                            <div class="forgot">
                                <a href="#" data-toggle="modal" data-target="#myModal2">Quên mật khẩu?</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <input type="submit" value="Đăng nhập" />
                        <input type="submit" value="Đăng nhập bằng Facebook" style="background-color:#3b5998;" />

                    </form>
                    <h6> Bạn không phải thành viên? <a href="@Url.Action("Register","Account")">Đăng ký ngay</a> </h6>
                    <br />
                    <p> Trở về trang chủ <span>→</span> <a href="@Url.Action("Index","Home")"> Bấm vào đây</a></p>
                </div>

            </div>
        </section>
    }

    <!-- //sign in form -->
    <!-- Navigation-Js-->
    <script type="text/javascript" src="~/Content/js/main.js"></script>
    <script type="text/javascript" src="~/Content/js/classie.js"></script>
    <!-- //Navigation-Js-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <!-- language-select -->
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>
    <!-- //language-select -->
    <script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script><!-- flexisel-js -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo3").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 5000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- here stars scrolling icon -->
</body>

</html>
