<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEBSITE RAO VẶT</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css"><!-- bootstrap-CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css"><!-- bootstrap-select-CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- style.css -->
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" /><!-- flexslider-CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" /><!-- fontawesome-CSS -->
    <link rel="stylesheet" href="~/Content/css/menu_sideslide.css" type="text/css" media="all"><!-- Navigation-CSS -->
    <link href="~/Content/css/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui1.css" rel="stylesheet" />
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="~/Content/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <!-- language-select -->
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <!-- //language-select -->
    <!-- switcher-grid and list alignment -->
    <script src="~/Content/js/tabs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var elem = $('#container ul');
            $('#viewcontrols a').on('click', function (e) {
                if ($(this).hasClass('gridview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('list').addClass('grid');
                        $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                        $('#viewcontrols .gridview').addClass('active');
                        $('#viewcontrols .listview').removeClass('active');
                        elem.fadeIn(1000);
                    });
                }
                else if ($(this).hasClass('listview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('grid').addClass('list');
                        $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                        $('#viewcontrols .gridview').removeClass('active');
                        $('#viewcontrols .listview').addClass('active');
                        elem.fadeIn(1000);
                    });
                }
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta" />
    <link href="~/Content/css/menulogin.css" rel="stylesheet" />

</head>
<body>
    <!-- Navigation -->
    <div class="agiletopbar">
        <div class="wthreenavigation">
            @{ Html.RenderAction("CategoryMenu", "CategoryNews");}
            <button class="menu-button" id="open-button"> </button>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //Navigation -->
    <!-- header -->
    <header>
        <div class="w3ls-header">
            <!--header-one-->
            <div class="w3ls-header-right">
                <nav class="menu">
                    <ul>
                        <li class="dropdown head-dpdn">
                            <a href="@Url.Action("Register", "Account")"><i class="fa fa-user" aria-hidden="true"></i> Đăng ký</a>
                        </li>
                        @{
                            var session = (UserLogin)Session[DoAnRaoVat.Common.CommonConstants.USER_SESSION];
                        }
                        @if (session != null)
                        {
                            <li class="dropdown head-dpdn">
                                <a><span class="glyphicon glyphicon-user"></span> @session.UserName <span class="arrow">&#9660;</span></a>
                                <ul class="sub-menu">
                                    <li><a href="#">Thông tin cá nhân</a></li>
                                    <li><a href="@Url.Action("Index","News")">Danh sách các bài đăng</a></li>
                                    <li>@Html.ActionLink("Thoát", "Logout", "Account")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown head-dpdn">
                                <a href="@Url.Action("Login", "Account")"><i class="glyphicon glyphicon-log-in"></i> Đăng nhập</a>
                            </li>
                        }
                        <li class="dropdown head-dpdn">
                            <a href="@Url.Action("Create", "FeedBack")"><i class="fa fa-comment-o" aria-hidden="true"></i> Phản hồi</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="container">
            <div class="agile-its-header">
                <div class="logo">
                    <h1><a href="@Url.Action("Index", "Home")"><span>Nguyên</span>Phi</a></h1>
                </div>
                <div class="agileits_search">
                    <a class="post-w3layouts-ad" href="@Url.Action("Create", "News")">Đăng tin</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- //header -->

    @RenderBody()
    <footer>
        <div class="w3-agileits-footer-top">
            <div class="container">
                <div class="wthree-foo-grids">
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Hỗ trợ khách hàng</h4>
                        <p>Trung tâm trợ giúp</p>
                        <p>An toàn mua bán</p>
                        <p>Quy định cần biết</p>
                        <p>Liên hệ hỗ trợ</p>
                    </div>
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Về Website Rao Vặt</h4>
                        <ul>
                            <li><a href="regions.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Giới thiệu</a></li>
                            <li><a href="regions.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Tuyển dụng</a></li>
                            <li><a href="regions.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Truyền thông</a></li>
                            <li><a href="regions.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Thông tin</h4>
                        <ul>
                            <li><a href="regions.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Bản đồ địa điểm</a></li>
                            <li><a href="terms.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Điều khỏa sử dụng</a></li>
                            <li><a href="popular-search.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Tìm kiếm phổ biến</a></li>
                            <li><a href="privacy.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Liên hệ chúng tôi</h4>
                        <span class="hq">Trụ sở chính</span>
                        <address>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-map-marker"></span></li>
                                <li>12 Quang Trung</li>
                            </ul>
                            <div class="clearfix"> </div>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-earphone"></span></li>
                                <li>+0 236 111 235</li>
                            </ul>
                            <div class="clearfix"> </div>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-envelope"></span></li>
                                <li><a href="mailto:info@nguyenphi.com">mail@nguyenphi.com</a></li>
                            </ul>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="agileits-footer-bottom text-center">
            <div class="container">
                <div class="w3-footer-logo">
                    <h1><a href="index.html"><span>Nguyên</span>Phi</a></h1>
                </div>
                <div class="w3-footer-social-icons">
                    <ul>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
                        <li><a class="flickr" href="#"><i class="fa fa-flickr" aria-hidden="true"></i><span>Flickr</span></a></li>
                        <li><a class="googleplus" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Google+</span></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i><span>Dribbble</span></a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <p><a href="index.html"><span>Nguyên</span>Phi</a> - Địa chỉ: 12 Quang Trung - Email:<a href="mailto:info@nguyenphi.com"> mail@nguyenphi.com</a> - Đường dây nóng: +0 236 111 235</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <!--footer section end-->
    <!-- Navigation-Js-->
    <script type="text/javascript" src="~/Content/js/main.js"></script>
    <script type="text/javascript" src="~/Content/js/classie.js"></script>
    <!-- //Navigation-Js-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <!-- language-select -->
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <!-- //language-select -->
    <script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script><!-- flexisel-js -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo3").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 5000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- Slider-JavaScript -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                maxwidth: 800,
                namespace: "large-btns"
            });

        });
    </script>
    <!-- //Slider-JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

    <!-- Navigation-JavaScript -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/classie.js"></script>
    <!-- //Navigation-JavaScript -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- //here ends scrolling icon -->
</body>
</html>