@model Model.EF.News

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = (Model.EF.Category)ViewBag.Product;
}

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs">
            <a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <a href=""></a> /
            @*<span>@product.Name</span>*@
        </span>
    </div>
</div>
<!-- //breadcrumbs -->
<!--single-page-->
<div class="single-page main-grid-border">
    <div class="container">
        <div class="product-desc">
            <div class="col-md-7 product-view">
                <div class="flexslider">
                    <img src="~/Uploads/@Model.FirstImage" />
                    @*<ul class="slides">
                <li data-thumb="">

                </li>
            </ul>*@
                </div>
                @*<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>*@
                <p><i class="glyphicon glyphicon-map-marker">@Model.City.Name</i><a href="#"></a>| Ngày đăng: @Model.CreatedDate</p>
               
                <!-- FlexSlider -->
                <script defer src="js/jquery.flexslider.js"></script>

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- //FlexSlider -->
                <div class="product-details">
                    <h4><span class="w3layouts-agileinfo">Tiêu đề </span> : <a href="#">@Model.Name</a></h4><div class="clearfix"></div>
                    <h4><span class="w3layouts-agileinfo">Mô tả</span> :<p>@Model.Description</p></h4><div class="clearfix"></div>

                </div>
            </div>
            <div class="col-md-5 product-details-grid">
                <div class="item-price">
                    <div class="condition">
                        <p class="p-price">Người đăng</p>
                        <h4>@Model.User.Name</h4>
                        <div class="clearfix"></div>
                    </div>

                    <div class="product-price">
                        <p class="p-price">Giá</p>
                        <h3 class="rate">@Model.Price</h3>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="itemtype">
                        <p class="p-price">Danh mục</p>
                        <h5>@Model.Product.Name</h5>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="interested text-center">
                    <h4>Quan tâm đến Quảng cáo này?<small> Liên hệ với người bán!</small></h4>
                    <p><i class="glyphicon glyphicon-earphone"></i>@Model.User.Phone</p>
                </div>
                <div class="tips">
                    <h4>Mua hàng an toàn</h4>
                    <ol>
                        <li><span>Không trả tiền trước khi mua hàng</span></li>
                        <li><span>Kiểm tra hàng cẩn thận, đặc biệt với hàng đắt tiền</span></li>
                        <li><span>Hẹn gặp ở nơi công cộng</span></a></li>
                        <li><span>Nếu bạn mua hàng hiệu, hãy gặp tại cửa hàng để nhờ xác định, tránh mua phải hàng giả</span></li>
                    </ol>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//single-page-->
