@model PagedList.IPagedList<Model.EF.News>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var listNewProducts = (List<Model.EF.News>)ViewBag.NewNews;
    //int stt = 1;
    <link href="~/Content/css/easy-responsive-tabs.css" rel="stylesheet" />
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

}

<!-- //switcher-grid and list alignment -->
<!-- breadcrumbs -->

<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs">
            <a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <a href="categories.html">Categories</a> /
            <span>Mobiles</span>
        </span>
    </div>
</div>
<div class="container">

    <div class="ads-grid">

        <div class="side-bar col-md-3">

            <div class="search-hotel">
                <h3 class="agileits-sear-head">Nhập vào thông tin tìm kiếm</h3>
                <form>
                    @using (Html.BeginForm("Index", "News", FormMethod.Get))
                    {
                        <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm...">
                        <span>
                            <button type="submit" name="search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    }
                </form>
            </div>


            <div class="menu">
                @{ Html.RenderAction("Category", "CategoryNews");}
            </div>
        </div>


        <div class="agileinfo-ads-display col-md-9">
            <div class="wrapper">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div class="panel panel-body">
                            <div id="container">
                                <div class="view-controls-list" id="viewcontrols">
                                    <label>view :</label>
                                    <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                    <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                                </div>
                                <div class="sort">
                                    <div class="sort-by">
                                        <label>Sort By : </label>
                                        <select>
                                            <option value="">Most recent</option>
                                            <option value="">Price: Rs Low to High</option>
                                            <option value="">Price: Rs High to Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @foreach (var item in Model)
                                {
                                    <ul class="list" id="row_@item.ID">
                                        <a href="@Url.Action("Detail","CategoryNews", new {@ID=@item.ID})">
                                            <li>
                                                <img src="~/Uploads/@item.FirstImage" title="" alt="" />
                                                <section class="list-left">
                                                    <h5 class="title">@item.Name</h5>
                                                    <span class="adprice">@item.Price</span>
                                                    <p class="catpath">Accessories » Men</p>
                                                </section>
                                                <section class="list-right">
                                                    <span class="date">@item.CreatedDate</span>
                                                    <span class="cityname">@item.City.Name</span>
                                                </section>
                                                <div class="clearfix"></div>
                                            </li>
                                        </a>
                                    </ul>
                                }
                            </div>
                        </div>

                        <ul class="pagination pagination-sm">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
