@model Model.EF.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="submit-ad main-grid-border">
        <div class="container">
            <h2 class="w3-head">Đăng tin</h2>
            <div class="post-ad-form">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-info">@ViewBag.Success</div>
                }

                @Html.LabelFor(model => model.ProductID, new { @class = "form-label" })
                @Html.DropDownListFor(model => model.ProductID, null, "Chọn danh mục", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                <div class="clearfix"></div>

                @Html.LabelFor(model => model.CityID, new { @class = "form-label" })
                @Html.DropDownListFor(model => model.CityID, null, "Chọn thành phố", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                <div class="clearfix"></div>

                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <div class="clearfix"></div>

                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                <div class="clearfix"></div>

                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                <div class="clearfix"></div>

                <div class="upload-ad-photos">
                    @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "form-label" })
                    <div class="photos-upload-view">

                        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

                        <div>
                            @Html.TextBoxFor(model => model.files, new { @type = "file", @multiple = "multiple", @id = "fileselect" })
                            @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                            @*<input type="file" id="fileselect" name="files" multiple="multiple" />*@
                            <div id="filedrag">Hoặc kéo thả các file vào đây</div>
                        </div>

                        <div id="submitbutton">
                            <button type="submit">Upload Files</button>
                        </div>


                        <div id="messages">
                            <p>@ViewBag.Message</p>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script src="~/Content/js/filedrag.js"></script>
                </div>

                <div class="personal-details">
                    <div class="clearfix"></div>
                    <input type="submit" value="Đăng tin" />
                    <a href="@Url.Action("Index","News")" class="btn btn-success" type="button">Quay lại danh sách</a>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
}


