@model PagedList.IPagedList<Model.EF.News>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var listNewProducts = (List<Model.EF.News>)ViewBag.NewNews;
    //int stt = 1;


}
<script src="~/Content/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>
<!-- language-select -->
<script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
<link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
<link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
<link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
<!-- Source -->
<script src="~/Content/js/jquery.uls.data.js"></script>
<script src="~/Content/js/jquery.uls.data.utils.js"></script>
<script src="~/Content/js/jquery.uls.lcd.js"></script>
<script src="~/Content/js/jquery.uls.languagefilter.js"></script>
<script src="~/Content/js/jquery.uls.regionfilter.js"></script>
<script src="~/Content/js/jquery.uls.core.js"></script>
<script>
    $(document).ready(function () {
        $('.uls-trigger').uls({
            onSelect: function (language) {
                var languageName = $.uls.data.getAutonym(language);
                $('.uls-trigger').text(languageName);
            },
            quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
        });
    });
</script>
<!-- //language-select -->
<!-- switcher-grid and list alignment -->
<script src="~/Content/js/tabs.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var elem = $('#container ul');
        $('#viewcontrols a').on('click', function (e) {
            if ($(this).hasClass('gridview')) {
                elem.fadeOut(1000, function () {
                    $('#container ul').removeClass('list').addClass('grid');
                    $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                    $('#viewcontrols .gridview').addClass('active');
                    $('#viewcontrols .listview').removeClass('active');
                    elem.fadeIn(1000);
                });
            }
            else if ($(this).hasClass('listview')) {
                elem.fadeOut(1000, function () {
                    $('#container ul').removeClass('grid').addClass('list');
                    $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                    $('#viewcontrols .gridview').removeClass('active');
                    $('#viewcontrols .listview').addClass('active');
                    elem.fadeIn(1000);
                });
            }
        });
    });
</script>
<!-- //switcher-grid and list alignment -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs">
            <a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <a href="categories.html">Categories</a> /
            <span>Mobiles</span>
        </span>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="select-box">
    <div class="select-city-for-local-ads ads-list">
        <label>Select your city to see local ads</label>
        <select>
            <optgroup label="Popular Cities">
                <option selected style="display:none;color:#eee;">Entire USA</option>
                <option>Birmingham</option>
                <option>Anchorage</option>
                <option>Phoenix</option>
                <option>Little Rock</option>
                <option>Los Angeles</option>
                <option>Denver</option>
                <option>Bridgeport</option>
                <option>Wilmington</option>
                <option>Jacksonville</option>
                <option>Atlanta</option>
                <option>Honolulu</option>
                <option>Boise</option>
                <option>Chicago</option>
                <option>Indianapolis</option>
            </optgroup>
            <optgroup label="More Cities">
                <optgroup label="Alabama">
                    <option>Birmingham</option>
                    <option>Montgomery</option>
                    <option>Mobile</option>
                    <option>Huntsville</option>
                    <option>Tuscaloosa</option>
                </optgroup>

                <optgroup label="Wyoming">
                    <option>Cheyenne</option>
                    <option>Casper</option>
                    <option>Laramie</option>
                    <option>Gillette</option>
                    <option>Rock Springs</option>
                </optgroup>
            </optgroup>
        </select>
    </div>
    <div class="browse-category ads-list">
        <label>Browse Categories</label>
        <select class="selectpicker show-tick" data-live-search="true">
            <option data-tokens="Mobiles">Mobiles</option>
            <option data-tokens="Electronics & Appliances">Electronics & Appliances</option>
            <option data-tokens="Cars">Cars</option>
            <option data-tokens="Bikes">Bikes</option>
            <option data-tokens="Furniture">Furniture</option>
            <option data-tokens="Pets">Pets</option>
            <option data-tokens="Books, Sports & Hobbies">Books, Sports & Hobbies</option>
            <option data-tokens="Fashion">Fashion</option>
            <option data-tokens="Kids">Kids</option>
            <option data-tokens="Services">Services</option>
            <option data-tokens="Jobs">Jobs</option>
            <option data-tokens="Real Estate">Real Estate</option>
        </select>
    </div>
    <div class="search-product ads-list">
        <label>Search for a specific product</label>
        <div class="search">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="ads-grid">

    <div class="side-bar col-md-3">
        <div id="parentVerticalTab">
            @{ Html.RenderAction("Category", "News");}
        </div>
    </div>

    @*<div class="agileinfo-ads-display col-md-9">
            <div class="wrapper">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                <span class="text">All Ads</span>
                            </a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div>
                                <div id="container">
                                    <div class="view-controls-list" id="viewcontrols">
                                        <label>view :</label>
                                        <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                        <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                                    </div>
                                    <div class="sort">
                                        <div class="sort-by">
                                            <label>Tìm kiếm : </label>
                                            <select>
                                                <option value="">Most recent</option>
                                                <option value="">Price: Rs Low to High</option>
                                                <option value="">Price: Rs High to Low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    @foreach (var item in Model)
                                    {
                                        //var url = item.ID;
                                        <ul class="list" id="row_@item.ID">
                                            <li>
                                                <a href="@Url.Action("Detail","News")"><img src="images/k1.jpg" title="" alt="" /></a>
                                                <section class="list-left">
                                                    <h5 class="title">@item.Name</h5>
                                                    <span class="adprice">@item.Price</span>
                                                    <p class="catpath">@item.Product.Name</p>
                                                </section>
                                                <section class="list-right">
                                                    <span class="date">@item.CreatedDate</span>
                                                    <span class="cityname">@item.City.Name</span>
                                                </section>
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>



                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>*@
    <div class="agileinfo-ads-display col-md-9">
        <div class="wrapper">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div class="panel panel-body">
                        <div id="container">
                            <div class="view-controls-list" id="viewcontrols">
                                <label>view :</label>
                                <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                            </div>
                            <div class="sort">
                                <div class="sort-by">
                                    <label>Sort By : </label>
                                    <select>
                                        <option value="">Most recent</option>
                                        <option value="">Price: Rs Low to High</option>
                                        <option value="">Price: Rs High to Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @foreach (var item in Model)
                            {
                                <ul class="list" id="row_@item.ID">
                                    <a href="single.html">
                                        <li>
                                            <img src="images/fa1.jpg" title="" alt="" />
                                            <section class="list-left">
                                                <h5 class="title">@item.Name</h5>
                                                <span class="adprice">@item.Price</span>
                                                <p class="catpath">Accessories » Men</p>
                                            </section>
                                            <section class="list-right">
                                                <span class="date">@item.CreatedDate</span>
                                                <span class="cityname">@item.City.Name</span>
                                            </section>
                                            <div class="clearfix"></div>
                                        </li>
                                    </a>
                                </ul>
                            }
                        </div>
                    </div>

                    <ul class="pagination pagination-sm">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


